.inputFields {
    border-radius: 1px;
    box-shadow: 1px 3px 5px gray;
}

.questionCard {
    background-color: gray;
    padding: 40px 0;
    width: 60vw;
    border-radius: 5px;
}

.answerFields {
    margin-left: 77px;
}

.addQuestionButton {
    margin-left: 77px;
    
}

.completeSurveyButton {
    background-color: rgb(123, 176, 253);
    border-radius: 10px;
    padding: 30px 40px;
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
    z-index: 2;
}

.createSurveyWrapper h2{
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.surveyTitleWrapper{
    width: 60vw;
}

.formButtonsWrapper {
    display: flex;
    justify-content: space-between;
}

.addBtnWrapper svg, .deleteBtnWrapper svg{
    color: white;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
