.inputFields {
    border-radius: 1px;
    box-shadow: 1px 3px 5px gray;
}

.questionCard {
    background-color: gray;
    padding: 40px 0;
    width: 60vw;
    border-radius: 5px;
    margin-bottom: 10px;
}

.answerFields {
    margin-left: 77px;
}

.addQuestionButton {
    margin-left: 77px;
    
}

.completeSurveyButton {
    background-color: rgb(123, 176, 253);
    border-radius: 10px;
    padding: 30px 40px;
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
    z-index: 2;
}

.createSurveyWrapper h2{
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.surveyTitleWrapper{
    width: 60vw;
}

.formButtonsWrapper {
    display: flex;
    justify-content: space-between;
}

.addBtnWrapper svg, .deleteBtnWrapper svg{
    color: white;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.questionRow{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 926px){
    .questionCard{
        width: 92vw;
    }
    .answerFields{
        margin-left: 13px;
        margin-right: 13px;
    }
    .questionRow{
        justify-content: start;
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 576px){
    .questionCard{
        width: 60vw;
        background-color: transparent;
    }
}

@media screen and (max-width: 445px){
    .questionCard{
        width: 40vw;
   
    }
    .questionRow{
        margin-left: -60px;
        margin-right: -64px;
    }
    .answerFields{
        margin-left: -47px;
        
    }

}