.inputFields {
    border-radius: 1px;
    box-shadow: 1px 3px 5px gray;
}

.questionCard {
    background-color: gray;
    padding: 40px 0;
}

.answerFields {
    margin-left: 77px;
}

.addQuestionButton {
    margin-left: 77px;
    
}