.navStyle {
    background: rgba(0, 0, 0, .5);
    padding: 28px 20px;
    position:absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:120px

}

.navButton {
    background-color: white;
    border-radius: 40px;
    padding: 5px 40px;
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    z-index: 2;
    width: 160px;
    height: 42px;
    margin-top: 5px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 600;
    color: #2E7DAF;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
}

.surpayLogoNavImg {
    float:left;
    width: 150px;
    height: 150px;
}

.surpayLogoNav {
    float:left;
    width: 150px;
    height: 150px;
}

.radioButtons {
    
}

.twoNavButtons {
    display: flex;
    flex-direction: row;
}
