.welcomeCon {
    background-color: rgb(59, 59, 66);
    border-top: 25px solid;
    border-color: white;
}


.welcomeTitle,
.welcomeStatement,
.firstParagraph,
.secondParagraph {
    color: white;
    font-weight: 300;
}

.welcomeTitle {
    color: white;
    padding-top: 80px;
    text-align: center;
}

.welcomeStatement {
    color: white;
    text-align: center;
}

.topCon {
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.firstSectionLeft {
    margin: 0px 70px 50px 70px;
    padding-top: 20px;
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    float: left;   
}

.firstSectionRight {
    flex-wrap: wrap;
    margin: 50px 70px 50px 0px;
    align-items: center;
    font-weight: 300;
    font-size: 1.5rem;
}

.secondCon {
    flex-wrap: wrap;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.secondSectionRight {
    margin: -200px 70px 50px 70px;
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    float: right
}

.secondSectionLeft {
    align-items: center;
    margin: 90px 500px 0 70px;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 300;
}

.btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 180px;
}


.footerCon {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerLogo {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;    
}

.topFooterChainlink,
.middleFooterPolygon,
.bottomFooterText {
    text-align: center;
    font-size:large
}